<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', lockout.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>
<div class="control-group">
  <label for="startDate" class="control-label">startDate</label>
  <div class="controls">
     <%- contentTag('input', lockout.startDate, {type:'text', class:'span6', name:'startDate'}) %>
  </div>
</div>
<div class="control-group">
  <label for="endDate" class="control-label">endDate</label>
  <div class="controls">
    <%- contentTag('input', lockout.endDate, {type:'text', class:'span6',  name:'endDate'}) %>
  </div>
</div>
<div class="control-group">
  <label for="uid" class="control-label">uid</label>
  <div class="controls">
    <%- contentTag('input', lockout.uid, {type:'number', class:'span2', name:'uid'}) %>
  </div>
</div>
