<div class="control-group">
  <label for="code" class="control-label">code</label>
  <div class="controls">
    <%- contentTag('input', lofe.code, {type:'text', class:'span6', name:'code'}) %>
  </div>
</div>
