<div class="hero-unit">
  <h2>All Loves</h2>
  <%- linkTo('Create a new Lofe', addLofePath, {class: 'btn pull-right'}); %>
</div>

<div id="loves-list">
<% if (loves) { %>
<% for (var i = 0, ii = loves.length; i < ii; i++) { %>
  <div class="row list-item" id="lofe-<%= loves[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(loves[i].id, lofePath(loves[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= loves[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>