<div class="hero-unit">
  <h2>All Releases</h2>
  <%- linkTo('Create a new Release', addReleasePath, {class: 'btn pull-right'}); %>
</div>

<div id="releases-list">
<% if (releases) { %>
<% for (var i = 0, ii = releases.length; i < ii; i++) { %>
  <div class="row list-item" id="release-<%= releases[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(releases[i].name, releasePath(releases[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= releases[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>